<div id="preview-sidebar" class="preview-sidebar">
  <div class="left-item-container">
    <div class="left-item-avatar">
      <participant-avatar params="participant: selfUser(), size: 'avatar-m'"></participant-avatar>
    </div>


    <span class="button-icon-size icon-right-chat-new"
          data-bind="css:{'active': rightType() === z.viewModel.PreviewSidebarViewModel.LType.OPEN_NEAREST_LIST}, click: () => changeTag(z.viewModel.PreviewSidebarViewModel.LType.OPEN_NEAREST_LIST)"
          data-uie-name="go-near"></span>

    <span class="button-icon-size icon-right-people-new"
          data-bind="css:{'active': rightType() === z.viewModel.PreviewSidebarViewModel.LType.OPEN_PEOPLE}, click: ()=> changeTag(z.viewModel.PreviewSidebarViewModel.LType.OPEN_PEOPLE)"></span>

    <span class="conversations-settings button-icon-size icon-right-set-new"
          data-bind="css:{'active': rightType() === z.viewModel.PreviewSidebarViewModel.LType.OPEN_SETTING}, click: ()=> changeTag(z.viewModel.PreviewSidebarViewModel.LType.OPEN_SETTING)"></span>
  </div>
</div>
